{{ define "all-posts" }}
{{ $PageData := index .DeepDataMerge.Templates .PageURL }}
{{ template "head" . }}

<body class="site-body">
    {{ template "header" . }}
    <main class="container site-main collection-root" role="main">
        <article class="content">
            <h1 class="collection-title">{{ $PageData.Frontmatter.Title }}</h1>
            <section class="posts">
                {{ $posts := index .DeepDataMerge.CollectionsMap .PageURL }}
                {{ range $Post := $posts }}
                    <div class="blog-item">
                        <h3 class="blog-title"><a href="/{{ $Post.CompleteURL }}">{{ $Post.Frontmatter.Title }}</a></h3>
                        <div class="blog-date">{{ if $Post.Frontmatter.Date }}{{ $Post.Frontmatter.Date }}{{ else }}{{ $Post.Date }}{{ end }}</div>
                        {{ if $Post.Frontmatter.Description }}<p class="blog-desc">{{ $Post.Frontmatter.Description }}</p>{{ end }}
                    </div>
                {{ end }}
            </section>
        </article>
    </main>
</body>

{{ end }}