{{ define "collection-subpage" }}
{{ $PageData := index .DeepDataMerge.Templates .PageURL }}
{{ $CollectionPage := index .DeepDataMerge.Collections .PageURL }}
{{ template "head" . }}

<body class="site-body">
    {{ template "header" . }}

    <main class="container site-main collection-root" role="main">
        <article class="content">

            <h1 class="collection-title">
                {{ if $PageData.Frontmatter.Title }}
                    {{ $PageData.Frontmatter.Title }}
                {{ else if $CollectionPage.Frontmatter.Title }}
                    {{ $CollectionPage.Frontmatter.Title }}
                {{ end }}
            </h1>

            {{ $CollectionSet := index .DeepDataMerge.CollectionsMap .PageURL }}

            <section class="posts">
                {{ range $CollectionSet }}

                    <div class="blog-item">
                        <h3 class="blog-title">
                            <a href="/{{ .CompleteURL }}">
                                {{ .Frontmatter.Title }}
                            </a>
                        </h3>

                        {{ if .Frontmatter.Date }}
                        <div class="blog-date">
                            {{ .Frontmatter.Date }}
                        </div>
                        {{ end }}

                        {{ if .Frontmatter.Description }}
                        <p class="blog-desc">
                            {{ .Frontmatter.Description }}
                        </p>
                        {{ end }}
                    </div>

                {{ end }}
            </section>

        </article>
    </main>

    {{ template "footer" . }}
</body>

{{ end }}
