{{ define "page"}}
{{$PageData := index .DeepDataMerge.Templates .PageURL}}
{{ template "head" .}}

<body class="site-body">

    {{template "header" .}}
    <main class="container site-main" role="main">
        <article class="content">
            <section class="body">

                {{ if and (ne (len $PageData.Frontmatter.Title) 0) (ne $PageData.Frontmatter.Title "Pranav") }}
                <div class="post-description">
                    <h1>{{ $PageData.Frontmatter.Title }}</h1>
                                        {{ range $field := $PageData.Frontmatter.CustomFields }}
                                            {{ if $imageValue := index $field "image" }}
                                            <img class="blog-cover" src="{{ $imageValue }}" alt="cover image" />
                                            {{ end }}
                                        {{ end }}
                    <div class="page-date">
                        {{ if ne (len $PageData.Frontmatter.Date) 0 }}
                        Published on {{$PageData.Frontmatter.Date}}
                        {{end}}
                    </div>
                    <div class="authors-placeholder">
                        {{ if ne (len $PageData.Frontmatter.Authors) 0 }}
                        <p>Authors: {{range $i, $a := $PageData.Frontmatter.Authors}}{{if $i}}, {{end}}{{ $a }}{{end}}
                        </p>
                        {{ end }}
                    </div>
                    <div class="blog-tags">
                        {{ if ne (len $PageData.Frontmatter.Tags) 0 }}
                        {{range $PageData.Frontmatter.Tags}}
                        <a class="blog-tag" href="/tags/{{.}}.html">{{.}}</a>
                        {{end}}
                        {{ end }}
                    </div>
                </div>
                {{ end }}

                {{$PageData.Body}}{{- if or (eq .PageURL "/") (eq .PageURL "/index.html") }}
                <section class="listening-now">
                    <h2>
                        Listening to on
                        <a href="https://www.last.fm/user/prawns_baka" target="_blank" rel="noopener">Last.fm</a>
                    </h2>
                    <ul id="lastfm-tracks"></ul>
                </section>
                {{- end }}
            </section>
        </article>

    </main>

    {{- if or (eq .PageURL "/") (eq .PageURL "/index.html") }}
    <script defer src="/static/js/lastfm.js"></script>
    {{- end }}

    {{template "footer" .}}
</body>

</html>

{{ end}}