{{define "header"}}
<!-- If the template for a particular url does not exist(posts.html), setting it to the specific page template data -->
{{ $PageData := index .DeepDataMerge.Templates .PageURL }} {{if eq $PageData nil
}} {{ $PageData = .TemplateData }} {{end}}

<header>
    <nav aria-label="Main navigation">
        <a href="/">Home</a>
        <a href="/collections/blogs.html">Blog</a>
        <a href="/til">TIL</a>
        <a href="/gallery/">Gallery</a>
        <a href="/about/">About</a>
    </nav>
</header>

{{end}}